@page "/"
<body class="montserrat-font">

    <div class="header">
        <div class="cool-site">Cool Site</div>
        <div class="circle"></div>
    </div>

    <div class="table-container">
        <table>
            <tr class="table-header">
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="three-box-row-header">
        <div>Lawernce Scott</div>
    </div>

    <div class="three-box-container">
        <div>

        </div>
    </div>

</body>

